<a href="https://colab.research.google.com/github/csnsnigdha18/Time-Series-Forecasting-and-Point-Anomaly-Detection-of-Sensor-Signals-Using-LSTM-Neural-Network-Arch/blob/main/Code/Sensor_Data_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from keras.preprocessing.sequence import TimeseriesGenerator
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from tensorflow.keras.layers import LSTM
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Bidirectional
from tensorflow.keras.layers import Dropout

In [ ]:
mpl.rcParams['figure.figsize'] = (10,8)
mpl.rcParams['axes.grid'] = False

In [ ]:
df1 = pd.read_csv('/content/sensor.csv')

In [ ]:
df=df1[0:53]
df

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.211800,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.211800,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.211800,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.168400,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.211800,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL
5,5,2018-04-01 00:05:00,2.453588,47.09201,53.168400,46.397568,637.6157,78.18568,13.41146,16.16753,...,42.70833,38.773150,63.65741,51.79398,38.773150,164.6412,66.55093,241.6088,201.6782,NORMAL
6,6,2018-04-01 00:06:00,2.455556,47.04861,53.168400,46.397568,633.3333,75.81614,13.43316,16.13136,...,43.22916,38.194440,61.92130,51.79398,39.062500,171.8750,67.70834,240.1620,200.2315,NORMAL
7,7,2018-04-01 00:07:00,2.449653,47.13541,53.168400,46.397568,630.6713,75.77331,13.25231,16.12413,...,42.96875,38.194443,59.60648,50.92593,39.351850,178.5301,68.57639,241.3194,201.0995,NORMAL
8,8,2018-04-01 00:08:00,2.463426,47.09201,53.168400,46.397568,631.9444,74.58916,13.28848,16.13136,...,42.18750,38.194440,57.87037,50.63657,39.351850,182.0023,69.44444,243.0556,201.6782,NORMAL
9,9,2018-04-01 00:09:00,2.445718,47.17882,53.168400,46.397568,641.7823,74.57428,13.38252,16.24711,...,41.66666,39.062500,56.42361,50.63657,39.062500,186.6319,69.73380,246.5278,200.8102,NORMAL
10,10,2018-04-01 00:10:00,2.464410,47.48264,53.125000,46.397568,637.7314,76.05148,13.41146,16.16753,...,41.40625,39.351850,54.97685,50.92593,39.351850,190.9722,71.18056,250.8681,199.9421,NORMAL
11,11,2018-04-01 00:11:00,2.444734,47.91666,53.168400,46.397568,635.6482,74.58654,13.41146,16.16753,...,41.66666,39.351852,53.81944,51.21528,39.062500,193.5764,72.33796,253.1829,200.2315,NORMAL
12,12,2018-04-01 00:12:00,2.460474,48.26389,53.125000,46.397568,630.0926,76.95988,13.34635,16.16753,...,42.70833,39.351850,53.24074,50.92593,39.062500,195.6019,72.33796,253.1829,202.2569,NORMAL
13,13,2018-04-01 00:13:00,2.448669,48.43750,53.168400,46.397568,638.6574,75.67310,13.31742,16.16753,...,42.70833,40.509260,53.81944,50.63657,39.062500,196.4699,72.91666,252.8935,202.8356,NORMAL
14,14,2018-04-01 00:14:00,2.453588,48.56771,53.168400,46.397568,632.4074,80.65949,13.38976,16.13136,...,42.18750,41.666670,53.53009,50.34722,39.062500,205.4398,72.91666,252.0255,201.0995,NORMAL
15,15,2018-04-01 00:15:00,2.455556,48.39410,53.125000,46.397570,642.3611,78.13193,13.35359,16.21094,...,41.66666,42.534720,52.66204,49.76852,39.062500,217.0139,73.78472,253.7616,198.7847,NORMAL
16,16,2018-04-01 00:16:00,2.449653,48.39410,53.168400,46.310760,630.2084,77.89381,13.30295,16.16753,...,40.88541,43.981480,52.37268,48.90046,39.351850,229.1667,74.94213,251.7361,197.9167,NORMAL
17,17,2018-04-01 00:17:00,2.463426,48.48090,53.689240,46.310760,643.6343,77.30572,13.34635,16.16753,...,40.62500,43.981480,52.37268,47.74306,39.351850,239.2940,74.36343,246.5278,198.4954,NORMAL
18,18,2018-04-01 00:18:00,2.445718,48.61111,53.125000,46.310760,632.9861,76.66199,13.34635,16.21094,...,40.62500,43.402780,52.08333,46.29630,40.219910,240.4514,73.49537,241.6088,198.4954,NORMAL
19,19,2018-04-01 00:19:00,2.464410,48.61111,53.168400,46.310760,644.3287,78.49116,13.34635,16.13136,...,40.62500,42.245370,52.08333,44.84954,40.509260,234.3750,72.91666,236.9792,197.9167,NORMAL
20,20,2018-04-01 00:20:00,2.445718,49.08854,53.038190,46.310760,633.4491,76.95741,13.34635,16.16753,...,40.36458,41.666670,53.53009,43.69213,40.509260,221.3542,76.67824,236.9792,198.7847,NORMAL
21,21,2018-04-01 00:21:00,2.460474,49.21875,53.125000,46.310760,626.2731,78.76208,13.34635,16.16753,...,40.10416,40.798610,54.10880,43.11343,40.219910,211.5162,83.04398,240.1620,201.3889,NORMAL
22,22,2018-04-01 00:22:00,2.448669,48.78472,53.125000,46.267360,635.4166,76.26164,13.41146,16.21094,...,39.58333,40.219910,53.24074,42.53472,40.219906,210.0694,87.96296,243.6343,204.5718,NORMAL
23,23,2018-04-01 00:23:00,2.453588,49.08854,53.168400,46.267361,635.4166,79.25443,13.34635,16.21094,...,39.06250,39.351850,51.79398,43.40278,40.219910,210.0694,92.30324,244.7917,208.3333,NORMAL
24,24,2018-04-01 00:24:00,2.453588,49.21875,53.038190,46.267361,634.3750,76.88760,13.31742,16.12413,...,39.06250,38.773148,50.63657,43.98148,39.641200,207.4653,96.93287,243.3449,210.9375,NORMAL
25,25,2018-04-01 00:25:00,2.449653,49.30555,53.168400,46.267361,634.9537,75.76706,13.34635,16.16030,...,38.28125,38.194440,49.47917,45.42824,39.641200,206.0185,100.11570,244.7917,211.5162,NORMAL
26,26,2018-04-01 00:26:00,2.459491,49.08854,53.168400,46.267361,632.4074,75.63688,13.28848,16.12413,...,38.28125,38.194440,48.32176,46.87500,40.219910,203.7037,101.85190,244.5023,212.3843,NORMAL
27,27,2018-04-01 00:27:00,2.448669,48.78472,53.125000,46.267361,639.2361,75.62278,13.49826,16.13136,...,38.80208,37.905090,47.45370,48.03241,40.509260,201.0995,103.00930,246.5278,214.6991,NORMAL
28,28,2018-04-01 00:28:00,2.464410,48.35069,53.168400,46.267360,641.3195,75.83797,13.41869,16.16030,...,39.32291,37.615740,46.29630,49.18982,40.509260,198.4954,102.43060,249.1319,215.5671,NORMAL
29,29,2018-04-01 00:29:00,2.444734,48.04688,53.125000,46.223960,635.4166,73.64476,13.28848,16.21094,...,40.88541,37.615740,45.13889,49.47917,40.798610,196.7593,103.00930,250.5787,216.7245,NORMAL
30,30,2018-04-01 00:30:00,2.463426,47.91666,53.124996,46.223957,618.7500,75.64877,13.23061,16.12413,...,40.88541,37.326390,46.58565,48.90046,40.798610,199.6528,103.87730,250.5787,218.1713,NORMAL
31,31,2018-04-01 00:31:00,2.448669,47.78646,53.125000,46.223957,650.4630,74.98300,13.23061,16.16030,...,40.62500,36.747680,48.03241,48.03241,41.087960,202.2569,101.85190,251.4468,221.0648,NORMAL
32,32,2018-04-01 00:32:00,2.453588,48.61111,53.038190,46.223957,631.5972,73.89424,13.44763,16.16753,...,40.10416,36.747684,48.32176,46.87500,41.087963,202.5463,98.66898,250.5787,223.3796,NORMAL
33,33,2018-04-01 00:33:00,2.455556,48.43750,53.125000,46.223957,643.8657,71.37542,13.34635,16.16753,...,39.58333,36.747684,48.03241,46.58565,41.087960,206.0185,96.06481,250.0000,224.2477,NORMAL
34,34,2018-04-01 00:34:00,2.449653,49.08854,53.124996,46.223957,631.1342,72.02344,13.31742,16.13136,...,39.58333,36.747680,47.45370,46.00694,40.798611,209.7801,93.75000,250.2894,223.9583,NORMAL
35,35,2018-04-01 00:35:00,2.460474,48.78472,53.124996,46.223957,628.2407,72.02461,13.38252,16.13136,...,39.32291,36.458330,46.87500,45.13889,40.509260,211.5162,91.14584,249.1319,223.0903,NORMAL
36,36,2018-04-01 00:36:00,2.460474,48.78472,53.125000,46.223960,628.2407,72.02461,13.38252,16.13136,...,39.32291,36.458332,46.87500,45.13889,40.509260,211.5162,91.14584,249.1319,223.0903,NORMAL
37,37,2018-04-01 00:37:00,2.464410,48.69791,53.038190,46.180550,632.9861,73.75979,13.34635,16.12413,...,39.06250,36.458332,45.42824,43.98148,39.062500,212.3843,85.35880,246.2384,224.2477,NORMAL
38,38,2018-04-01 00:38:00,2.448669,48.65451,53.125000,46.180553,633.2176,71.75475,13.28848,16.12413,...,38.28125,36.458332,44.84954,43.69213,39.062500,216.1458,82.75463,243.6343,222.8009,NORMAL
39,39,2018-04-01 00:39:00,2.459491,48.82813,53.124996,46.180553,632.1759,73.06738,13.43316,16.21094,...,38.28125,36.458332,44.56018,43.40278,38.773150,221.6435,81.01852,241.6088,221.0648,NORMAL
40,40,2018-04-01 00:40:00,2.449653,49.26215,53.124996,46.180553,637.9630,71.20819,13.34635,16.13136,...,38.28125,36.458332,44.84954,43.11343,38.773150,229.7454,79.57176,236.9792,220.1968,NORMAL
41,41,2018-04-01 00:41:00,2.453588,49.26215,53.124996,46.180550,637.9630,73.73936,13.25231,16.16753,...,39.06250,36.458332,45.13889,43.11343,38.194440,234.0856,77.83565,231.4815,219.9074,NORMAL
42,42,2018-04-01 00:42:00,2.453588,49.04514,53.124996,46.093750,640.5093,72.83128,13.32465,16.13136,...,39.32291,36.458330,46.58565,43.40278,38.194440,235.5324,75.52084,227.7199,218.7500,NORMAL
43,43,2018-04-01 00:43:00,2.448669,49.08854,53.124996,46.093750,635.0695,73.57409,13.34635,16.07350,...,40.10416,36.747680,47.45370,44.56018,37.905090,225.4051,73.49537,224.8264,218.1713,NORMAL
44,44,2018-04-01 00:44:00,2.460474,48.87152,53.125000,46.093750,633.7963,73.37788,13.31742,16.13136,...,40.10416,37.326390,46.87500,46.00694,37.615740,211.5162,71.46991,222.5116,218.7500,NORMAL
45,45,2018-04-01 00:45:00,2.448669,49.08854,53.038190,46.093750,638.7732,73.93829,13.38252,16.21094,...,40.10416,37.326389,46.29630,46.87500,37.615742,202.2569,69.73380,222.8009,218.7500,NORMAL
46,46,2018-04-01 00:46:00,2.466377,49.13194,53.125000,46.093750,630.3241,74.72400,13.28848,16.07350,...,39.32291,37.326389,45.13889,47.74306,37.615742,199.3634,68.28703,223.3796,217.3032,NORMAL
47,47,2018-04-01 00:47:00,2.446702,49.13194,53.038190,46.050350,635.9954,74.23515,13.25231,16.16753,...,38.80208,37.326390,43.98148,48.32176,37.615742,195.0231,67.12963,224.5370,214.4097,NORMAL
48,48,2018-04-01 00:48:00,2.460474,49.26215,53.125000,46.050346,628.2407,77.19415,13.28848,16.16753,...,39.32291,37.615740,43.69213,48.32176,37.615742,188.3681,66.55093,225.9838,212.3843,NORMAL
49,49,2018-04-01 00:49:00,2.445718,49.04514,53.124996,46.050346,623.3796,78.18562,13.38252,16.16753,...,40.62500,38.194440,43.40278,48.03241,37.615740,182.0023,67.12963,230.0347,211.8056,NORMAL
50,50,2018-04-01 00:50:00,2.456539,49.43576,53.124996,46.050346,630.4398,81.35645,13.31742,16.21094,...,40.88541,39.062500,43.11343,47.45370,37.905090,182.8704,68.28703,234.3750,211.8056,NORMAL
51,51,2018-04-01 00:51:00,2.453588,49.34896,53.124996,46.050346,627.3148,78.20947,13.31742,16.16753,...,40.88541,39.641200,42.53472,46.58565,38.194440,185.7639,69.15509,236.1111,210.9375,NORMAL
52,52,2018-04-01 00:52:00,2.451620,49.26215,53.124996,46.050346,641.8981,78.60271,13.41146,16.24711,...,40.36458,40.798610,42.24537,46.00694,38.773150,189.8148,69.15509,234.6644,210.0694,NORMAL

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 55 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      53 non-null     int64
 1   timestamp       53 non-null     object
 2   sensor_00       53 non-null     float64
 3   sensor_01       53 non-null     float64
 4   sensor_02       53 non-null     float64
 5   sensor_03       53 non-null     float64
 6   sensor_04       53 non-null     float64
 7   sensor_05       53 non-null     float64
 8   sensor_06       53 non-null     float64
 9   sensor_07       53 non-null     float64
 10  sensor_08       53 non-null     float64
 11  sensor_09       53 non-null     float64
 12  sensor_10       53 non-null     float64
 13  sensor_11       53 non-null     float64
 14  sensor_12       53 non-null     float64
 15  sensor_13       53 non-null     float64
 16  sensor_14       53 non-null     float64
 17  sensor_15       0 non-null      float64
 18  sensor_16       53 non-null     float64
 19  sensor_17       53 non-null     float64
 20  sensor_18       53 non-null     float64
 21  sensor_19       53 non-null     float64
 22  sensor_20       53 non-null     float64
 23  sensor_21       53 non-null     float64
 24  sensor_22       53 non-null     float64
 25  sensor_23       53 non-null     float64
 26  sensor_24       53 non-null     float64
 27  sensor_25       53 non-null     float64
 28  sensor_26       53 non-null     float64
 29  sensor_27       53 non-null     float64
 30  sensor_28       53 non-null     float64
 31  sensor_29       53 non-null     float64
 32  sensor_30       53 non-null     float64
 33  sensor_31       53 non-null     float64
 34  sensor_32       53 non-null     float64
 35  sensor_33       53 non-null     float64
 36  sensor_34       53 non-null     float64
 37  sensor_35       53 non-null     float64
 38  sensor_36       53 non-null     float64
 39  sensor_37       53 non-null     float64
 40  sensor_38       53 non-null     float64
 41  sensor_39       53 non-null     float64
 42  sensor_40       53 non-null     float64
 43  sensor_41       53 non-null     float64
 44  sensor_42       53 non-null     float64
 45  sensor_43       53 non-null     float64
 46  sensor_44       53 non-null     float64
 47  sensor_45       53 non-null     float64
 48  sensor_46       53 non-null     float64
 49  sensor_47       53 non-null     float64
 50  sensor_48       53 non-null     float64
 51  sensor_49       53 non-null     float64
 52  sensor_50       53 non-null     float64
 53  sensor_51       53 non-null     float64
 54  machine_status  53 non-null     object
dtypes: float64(52), int64(1), object(2)
memory usage: 22.9+ KB

In [ ]:
train_dates = pd.to_datetime(df['timestamp'])#extra

In [ ]:
#extra
cols = list(df)[2:10]
print(cols)

['sensor_00', 'sensor_01', 'sensor_02', 'sensor_03', 'sensor_04', 'sensor_05', 'sensor_06', 'sensor_07']

In [ ]:
df_for_training = df[cols].astype(float)

In [ ]:
train=df_for_training.iloc[:150000]
test=df_for_training.iloc[150000:]
train.shape
test.shape

(0, 8)

In [ ]:
scaler = MinMaxScaler()
scaler.fit(train)
scaled_train=scaler.transform(train)
scaled_test=scaler.transform(test)

ValueError: ignored

In [ ]:
win_length=2205
batch_size=32
num_features=56
train_generator = TimeseriesGenerator(scaled_train,scaled_train,length=56,sampling_rate=1,batch_size=2205)
test_generator = TimeseriesGenerator(scaled_test,scaled_test,length=56,sampling_rate=1,batch_size=2205)

In [ ]:
X,y=train_generator[0]
print(f'input array:\n{X.flatten()}')
print(f'output array:\n{y}')

In [ ]:
print(f'output array:\n{y}')

In [ ]:
X.shape

In [ ]:
y.shape

In [ ]:
model = tf.keras.Sequential()
model.add(tf.keras.layers.Bidirectional(LSTM(128,return_sequences=True), input_shape = (win_length,num_features)))
model.add(tf.keras.layers.LeakyReLU(alpha=0.5))
model.add(tf.keras.layers.Bidirectional(LSTM(128,return_sequences=True)))
model.add(tf.keras.layers.LeakyReLU(alpha=0.5))
#model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Bidirectional(LSTM(64,return_sequences=False)))
#model.add(tf.keras.layers.Dropout(0.3))
model.add(tf.keras.layers.Dense(56))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
model.summary()

In [ ]:
model.compile(loss=tf.losses.MeanSquaredError(),optimizer=tf.optimizers.Adam(),metrics = ['accuracy','mae'])
history = model.fit(train_generator,epochs=500,validation_data=test_generator,shuffle=False)

In [ ]:
history.history.keys()

In [ ]:
acc = history.history['accuracy']
val_acc = history.history['val_accuracy']
loss = history.history['loss']
val_loss = history.history['val_loss']

In [ ]:
plt.plot(epochs, acc, label='Training accuracy')
plt.plot(epochs, val_acc,label='Testing accuracy')
plt.legend()
plt.show()

In [ ]:
plt.plot(epochs, loss, label='Training Loss')
plt.plot(epochs, val_loss,label='Testing Loss')
plt.legend()
plt.show()

In [ ]:
plt.plot(history.history['accuracy'])
plt.title('Model Accuracy')
plt.ylabel('accuracy')
plt.xlabel('epoch')
plt.legend(['train'],loc='upper left')
plt.show()

In [ ]:
plt.plot(history.history['loss'])
plt.title('Model loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train'],loc='upper left')
plt.show()

In [ ]:
model.evaluate(test_generator,verbose=0)

In [ ]:
predictions=model.predict(test_generator)

In [ ]:
predictions

In [ ]:
predictions.shape

In [ ]:
df1= pd.DataFrame(predictions)
df1

In [ ]:
rev_trans = scaler.inverse_transform(df1)

In [ ]:
df_final=pd.DataFrame(rev_trans)
df_final

In [ ]:
df_final.shape

In [ ]:
#df_final.to_csv("bi-lstm_500 new code.csv")